{
  "chainId": 41,
  "debug": true,
  "apiHost": "0.0.0.0",
  "apiPort": 7000,
  "nodeos_read": "http://127.0.0.1:8888",
  "signer_account": "rpc.evm",
  "signer_permission": "active",
  "signer_key": "5Hr65cDYmn33C3UabahmWDm3PuqbRfPuDStts3ZFNSDLC7TbamL",
  "contracts": {"main": "eosio.evm"},
  "indexerWebsocketHost": "0.0.0.0",
  "indexerWebsocketPort": "7300",
  "indexerWebsocketUri": "ws://127.0.0.1:7300/evm",
  "rpcWebsocketHost": "0.0.0.0",
  "rpcWebsocketPort": "7400",
  "redisHost": "127.0.0.1",
  "redisPort": 6379,
  "redisUser": "",
  "redisPass": "",
  "elasticNode": "http://127.0.0.1:9200",
  "elasticUser": "hyper",
  "elasticPass": "password",
  "elasticIndexPrefix": "telos",
  "elasticIndexVersion": "v1.5"
}
